In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [5]:
data = pd.read_csv("../data/breast_cancer.csv").drop("Sample code number",axis=1)
data

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...
678,3,1,1,1,3,2,1,1,1,2
679,2,1,1,1,2,1,1,1,1,2
680,5,10,10,3,7,3,8,10,2,4
681,4,8,6,4,3,4,10,6,1,4
682,4,8,8,5,4,5,10,4,1,4

In [10]:
data["Class"].value_counts()

2    444
4    239
Name: Class, dtype: int64

In [11]:
# Missing value
data.isna().sum()

Clump Thickness                0
Uniformity of Cell Size        0
Uniformity of Cell Shape       0
Marginal Adhesion              0
Single Epithelial Cell Size    0
Bare Nuclei                    0
Bland Chromatin                0
Normal Nucleoli                0
Mitoses                        0
Class                          0
dtype: int64

In [8]:
X = data.drop("Class",axis=1)
y = data["Class"]

In [13]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [16]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [18]:
from sklearn.linear_model import LogisticRegression

log = LogisticRegression()
log.fit(X_train_scaled,y_train)

LogisticRegression()

In [19]:
log.score(X_test_scaled,y_test)

0.9562043795620438

In [27]:
log.predict(scaler.transform([[5,4,10,2,7,3,8,10,2]]))

array([4])

In [30]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=100)
rf.fit(X_train_scaled,y_train)

RandomForestClassifier()

In [31]:
rf.score(X_test_scaled,y_test)

0.9708029197080292

In [32]:
y_preds = rf.predict(X_test_scaled)

In [34]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test,y_preds)

array([[84,  3],
       [ 1, 49]])

In [42]:
from sklearn.model_selection import cross_val_score

accuracies = cross_val_score(estimator=rf,X=X_train,y=y_train,cv=10)

In [47]:
print(f"Accuracy: {accuracies.mean()*100:.2f}%")
print(f"S.D.: {accuracies.std()*100:.2f}%")

Accuracy: 97.07%
S.D.: 2.34%