In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
data = pd.read_csv("../data/breast_cancer.csv").drop("Sample code number",axis=1)
data

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...
678,3,1,1,1,3,2,1,1,1,2
679,2,1,1,1,2,1,1,1,1,2
680,5,10,10,3,7,3,8,10,2,4
681,4,8,6,4,3,4,10,6,1,4
682,4,8,8,5,4,5,10,4,1,4

In [7]:
X = data.drop("Class",axis=1)
y = data["Class"]

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [10]:
from catboost import CatBoostClassifier

cb = CatBoostClassifier(silent=True)
cb.fit(X_train,y_train)
cb_preds = cb.predict(X_test)
cb.score(X_test,y_test)

0.9781021897810219

In [12]:
from sklearn.metrics import confusion_matrix, accuracy_score

confusion_matrix(y_test, cb_preds)

array([[84,  3],
       [ 0, 50]])

In [13]:
from sklearn.model_selection import cross_val_score

accuracies = cross_val_score(estimator=cb,X=X_train,y=y_train,cv=10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 96.53 %
Standard Deviation: 2.50 %